@import "tailwindcss";

@layer base {
  /* global resets and enhancements */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-scrollbar {
      display: none;
    }
  }
  body {
    margin: 0;
    /*   font-family: system-ui, sans-serif; */
    line-height: 1.5;
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
    background: #ffedd5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #fb923c;
    border-radius: 50vh;
    border: 1px solid #fb923c;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f97316;
  }
}
